@media screen and (min-width: 880px){
body {
  background-color: aqua;
   background-size: cover;
   border: thin solid black;
    overflow: hidden;
   overflow-style:screen;
}
body img {
    border-radius: 100px;
}
h1{
    text-align: center;
    color:royalblue;
    padding-top: 60px;

}
p{
    font-size: 30px;
    
}
#acty{
    display: flex;
    margin-left: auto;
    margin-right: auto;

}
#guy{
    display:flex;
}
nav {
  position: fixed;
  top: 0;
  width: 100%
}
}
footer{
    padding-top: 700px;
}
